@media (max-width: 850px) {

    .navigation {
        width: 100%;
        padding: 1rem;
    }

    #quiz-container {
        width: 100%;
    }
}

@media (max-width: 500px) {

    .btn {
        text-align: center;
    }
}