:root{
 --buttons-hover:#4430b3;
 --buttons: #9b8fe3;
 --text-color:#27243a;
 --base-color: rgb(112,110,110);
 --white:#cdcdcd;
}
#quiz-container{
    background: var(--white);
    padding: 2.5rem;    
    border-radius:10px;
    max-width:600px;
    margin:auto;
    margin-top:13rem;
    box-shadow: 0 8px 20px rgba(157,78,221,.2);
}
.question-block{
    margin-bottom:20px;
}
input[type=text]{
 width:100%;
 padding:.6rem;
 margin-top:.6rem;
 margin-bottom:.9rem;
 border-radius:.3rem;
 border:1px solid var(--white);
 font-size:1.1rem;
}
button{
 padding:.6rem 1.1rem;
 background: var(--buttons);
 color: var(--text-color); 
 border:none;
 border-radius:.3rem;
 cursor:pointer;
 margin-left:.1rem;
}
button:hover{
 background:var(--buttons-hover);
 color: var(--white);
}
#feedback{
 font-size:1.1rem;
 padding-left:.6rem;
}
#result{
   font-size:1.2rem;
   margin-top:1.5rem;
   text-align:center;
}