@media (max-width: 768px) {
    .navigation {
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .logo {
        margin-left: 0;
    }

    .btn {
        width: 30%;
    }

    .menu a {
        font-size: 15px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .btn {
        width: 30%;
        font-size: 14px;
    }

    .btn {
        width: 80%;
    }

    .navigation {
        padding: 1.5rem;
    }
}

@media (max-width: 600px) {
    .fact-box {
        font-size: 14px;
        padding: 15px;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .fact-box button {
        width: 22px;
        height: 22px;
    }
}