:root {
    --buttons-hover: #4430b3;
    --buttons: #9b8fe3;
    --text-color: #27243a;
    --base-color: rgb(112, 110, 110);
    --white: #cdcdcd;
}
.fact-box {
    margin: 1rem;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.2rem;
    color: var(--text-color);
    font-size: 1rem;
    box-shadow: 0 8px 20px rgba(157, 78, 221, 0.2);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    position: relative;
}
.fact-box button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
@keyframes moveBox {
    0%   { transform: translate(0,0); }
    25%  { transform: translate(10px, -5px); }
    50%  { transform: translate(-10px, 5px); }
    75%  { transform: translate(5px, 10px) ; }
    100% { transform: translate(0,0); }
}
.fact-box.move {
    animation: moveBox 3s infinite ease-in-out;
}
#synopsisContainer{
    margin-top: 9rem;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.editbtn{
    margin-top: 2rem;
    padding-right: 8rem;
}
.quiz_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}