@media (max-width: 900px) {
    .navigation {
        justify-content: center;
        gap: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .card {
        width: 90%;
    }
}