.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.virsraksts{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10rem;
    text-align: center;
}
.fact-box{
    width: 50%;
    background-color: #43437b;
    border-radius: 1rem;
}
.margin{
    margin: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.padding{
    padding: 1rem;
}
.margin-top{
    margin-top: 5rem;
}
.all {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem; 
    box-sizing: border-box;
}
.all .flex.column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: calc(100% - 8rem); 
}
.flex.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 1rem;
    max-width: calc(100% - 2rem); 
    margin: 0 auto;
}
.fact-box, .card {
   flex: 1 1 18rem;
    min-width: 18rem;
    max-width: 21rem;
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: left;
    padding: 4rem; 
    box-sizing: border-box;
}
.question strong {
    font-size: 1.1rem;
}
.Answer {
    margin-top: .5rem;
}
.Answer ul {
    margin-left: 1rem;
}